/* Importing the fonts
NOTE: second font is loading slowly
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://db.onlinewebfonts.com/c/2c1ce06a505728976c1d2993407312b5?family=KFGQPC+Uthmanic+Script+HAFS');


/* The Four Themes listed will the variables that control how they appear*/


[theme="light"] {
    --ALPHA: white;
    --BETA: black;
    --OMEGA: rgb(240, 241, 243);
    --GAMMA: rgb(0, 110, 255);
    --transitionamount: 0%;
}

[theme="sepia"] {
    --ALPHA: rgb(255, 247, 234);
    --BETA: black;
    --OMEGA: rgb(239, 226, 205)    ;
    --GAMMA: rgb(199, 160, 98);
    --transitionamount: 100%;

}

[theme="dark"] {
    --ALPHA: rgb(52, 58, 64)    ;
    --BETA: white;
    --OMEGA: rgb(33, 37, 41)    ;
    --GAMMA: rgb(117, 175, 255);
    --transitionamount: 200%;  
}

[theme="hafs"] {
    --ALPHA: #447058;
    --BETA: white;
    --OMEGA: #1a5032;
    --GAMMA: #ff8c6f;
    --transitionamount: 300%;

}

/* The basic classes on page load MOBILE */

body{
    margin: 0px;
    background-color: var(--ALPHA);   /*👉Page background color👈*/
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 200ms linear;
    font-family: 'Open Sans';
    color: var(--BETA);            /*👉Text Color👈*/
    --arabicFontSize: 1.9rem
}


nav{
    height: 60px;
    background-color: var(--OMEGA);
    position: block;
    top: 0;
    width: 100%;
    transition: background-color 200ms linear;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

blockquote {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    direction: rtl;
    font-family: 'KFGQPC Uthmanic Script HAFS';
    font-size: var(--arabicFontSize);
    background-color: var(--OMEGA);
    color: var(--BETA);
    padding: 10px 20px 15px;
    border-radius: 5px;
    margin: 0px;
    text-align: right;
    transition: color 200ms linear, background-color 200ms linear;
    width: fit-content;
    justify-self: center;
}

h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 40px;
}

div.contentDiv{
    width: 60%;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: 1fr;

}

/* NEW TOGGLE INSHALLAH */

div.fancySelector{
    display: grid;
    grid-template-columns: repeat(4,minmax(0px,1fr));
    background-color: var(--OMEGA);
    border-radius: 50px;
    padding: 0px 5px;
    position: relative;
    transition: background-color 200ms linear;

}

div.fancySelector button{
    background-color: transparent;
    border-width: 1px;
    border-color: transparent;  /*👉this is to add the border back👈*/
    padding: 6px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 80px;
    height: 45px;
    color: var(--BETA);
    transition: color 200ms linear;
}

div.fancySelector button svg {
    padding-right: 6px;
    width: 16px;
}

div.activeTheme{
    height: 75%;
    width: 80px;
    border-radius: 20px;
    background-color: var(--ALPHA);
    position: absolute;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 3px var(--ALPHA);
    transform: translate(var(--transitionamount));
    transition: transform 400ms ease-in-out;

}

span[tooltip]::after{
    content: "";
    position: absolute;
    bottom: 100%-5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--BETA) transparent transparent transparent;
    opacity: 0;
    display: none;
}

span[tooltip]:hover::after {
    opacity: 100;
    display: unset;
}

span[tooltip]::before{
    content: attr(tooltip);
    position: absolute;
    bottom: 100%;
    background-color: var(--BETA);
    padding: 8px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 100ms linear;
    color: var(--ALPHA);
    font-family: 'Open Sans';
    left: 50%;
    white-space:nowrap;
    transform: translateX(-50%);
    font-size: 1rem;
    display: none;

}



span[tooltip]{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    transition: color 50ms linear;

}

span[tooltip]:hover::before {
    opacity: 100;
    display: unset;
}

span[tooltip]:hover{
    color: var(--GAMMA);
}


#fonter button {
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: var(--OMEGA);
    color: var(--BETA);
    transition: background-color 200ms linear;
}

#fonter button:hover {
    background-color: var(--ALPHA);
}

#fonter{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fonter button.kill{
    cursor: not-allowed;
    display: unset;
    opacity: 25%;
}

#fonter button.kill:hover {
    background-color: var(--OMEGA);
}